<!doctype html>
<body>
    <figure>
        <figcaption>"{{ filename }}"</figcaption>
        <img class="fit-picture" src="data:{{ filename }};base64,{{ img_data }}">
    </figure>
    <figure>
        <figcaption>Listen to {{ filepath }}</figcaption>
        <audio controls>
            <source src="{{ filepath }}" type="audio/mpeg">
        </audio>
    </figure>
    <div>
        <form method="post" action="/">
            <input type="submit" value="Whale" name="whale">
            <input type="submit" value="No Whale" name="no_whale">
        </form>
    </div>
</body>
